*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:black;
    font-size: 18px;
}

a{
    color: rgb(193, 6, 6);

}

h1{font-size: 3.5em;}
h2{font-size: 2em;}
h3{font-size: 2em;}
h4{font-size: 2em;}
h5{font-size: 2em;}
h6{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

button{
    font-weight: bold;
    font-style: oblique;
    padding: 8px 8px;
    border-radius: 10px;
    border: 3px solid rgba(225, 0, 255);
    box-shadow: 1px 1px 6px rgba(225, 0, 255);
    color:black;
    background-color: plum;
}

button:hover{
    background-color: rgb(179, 54, 195);
}

.conteiner{
    max-width: 1400px;
    margin: auto;
}


header{
    background-color: rgb(243, 236, 244); 
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(35, 10, 125);
    font-size: 1.6em;
}

header .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(97, 17, 182);
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     
}

#hero h1{
    color: white;
}

#hero p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 1.8em;
}


#Quienes-somos .container{
    text-align: center;
    padding: 10px 150px;
    display: grid;
    place-items: center;
}

h2{
    text-align: center;
    padding-right: 300px;
}

#Quienes-somos h2{
    color: black;
    text-align: center;
    padding-right: 1px;
}

p{
    text-align: center;
    padding-right: 5px;
}

#Quienes-somos p{
    color: black;
}


#Objetivo-general{
    background-color: rgb(31, 29, 29);
    height: 500px;
    padding: 20px;
}

#Objetivo-general p{
    padding: 1px;
}

#Objetivo-general .container{
    text-align: center;
    color: white;
    height: 170vh;
    padding: 2px 2px;
}

p{
    color: white;
}

#Objetivo-general .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    height: 45vh;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("1\ objetivo.jpg");
    text-align: center;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("2\ objetivo.jpg");
    text-align: center;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("3\ objetivo.jpg");
    text-align: center;
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("4\ objetivo.jpg");
    text-align: center;
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("5\ objetivo.jpg");
    text-align: center;
}


#Mision p{
    color: black;
}

h4 {
    text-align: center;
}


#Vision p{
    color: black;
}

h5{
    text-align: center;
}


#principios .container p{
    color: black;
}


#Productos .container{
    font-size: 18px;
    background-color: rgb(31, 29, 29);
    color: white;
    height: 250vh;
}

h6{
    text-align: center;
    justify-content: center;
}


#Productos .carta-3{
    background-position: center center;
    background-size: cover;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
}

.carta-3:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("chaquetas.jpg");
    text-align: center;
}

.carta-3:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Vestidos.jpg");
    text-align: center;
}

.carta-3:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Pantalones.jpg");
    text-align: center;
}

.carta-3:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Peluches.jpg");
    text-align: center;
}

.carta-3:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("Hogar\ 1.jpg");
    text-align: center;
}

h6{
    text-align: center;
    justify-content: center;

}


#principios p{
    text-align: start;
}

#principios h6{
    text-align: center;
    justify-content: center;
}

@media (min-width: 600px){

    header .conteiner{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #Quienes-somos .container{
        justify-content: initial;
        text-align: left;
        margin-right: 13%;
        margin-bottom: 2px;
        padding: 10px;
    }

    #Quienes-somos .texto{
        text-align: right;
    }

    h2{
        padding: 0px 20px;
        text-align: right;
        margin-right: 10%;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    #Quienes-somos p{
        text-align: justify;
        padding-left: 30px;
        margin-bottom: 10%;
        margin-right: 10%;
    }

    #Quienes-somos .container{
        display: flex;
        justify-content: space-evenly
    }

    #Quienes-somos .texto{
        width: 40%;
        max-width: 700%;
        text-align: initial;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Quienes-somos .img-container{
        background-image: url("Quienes\ somos\ 2.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 600px;
    }

    #Objetivo-general .objetivos{
        display: flex;
        justify-content: center;
    }

    #Objetivo-general p{
        display: block;
        font-size: 1.2em;
        margin-top: 0;
    }

    #Objetivo-general .carta{
        padding: 0px;
        box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    }


    #Mision .container{
        justify-content: initial;
        text-align: right;
        margin-right: 13%;
        margin-bottom: 2px;
        padding: 5px;
    }

    h4{
        padding: 0px 50px;
        text-align: left;
        margin-left: 130px;
        margin-bottom: 10px;
        margin-top: 50px;
        
    }

    #Mision p{
        text-align: justify;
        padding-right: 50px;
        margin-bottom: 10%;
        margin-right: 10%;
        padding: 0px 50px;
        max-width: 700%;
        width: 150%;
    }

    #Mision .container{
        display: flex;
        justify-content: space-evenly
    }

    #Mision .parrafo{
        width: 40%;
        max-width: 700%;
        text-align: initial;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 60%;
        text-align: right;
    }

    #Mision{
        background-image: url("mision\ 2.jpg");
        background-repeat: no-repeat;
        background-size: 500px 300px;
        background-position: calc(100vw - 100px) 100px;
        justify-content: space-evenly;
        padding-right: 100px;
    }

    #Vision .container{
        justify-content: initial;
        text-align: left;
        margin-right: 13%;
        margin-bottom: 2px;
        padding: 5px;
        display: flex;
    }

    #Vision .contenido{
        text-align: left;
    }

    #Vision h5{
        text-align: right;
        padding: 0px 50px;
        margin-right: 8%;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #Vision p{
        text-align: right;
        text-align: justify;
        margin-bottom: 2%;
        margin-left: 50%;

    }

    #Vision .contenido{
        width: 100%;
        max-width: 500%;
    }

    #Vision{
        background-image: url("vision.webp");
        background-repeat: no-repeat;
        background-size: 550px 350px;
        justify-content: space-evenly;
        padding-left: 50px;
        background-position-x: 80px;
        background-position-y: 30px;
    }

    #principios .definicion-principios{
        display: flex;
        justify-content: center;
    }
    
    #principios p{
        display: block;
    }
    
    #principios h6{
        margin-top: 0;
        justify-content: center;
    }
    
    #principios .carta-2{
        padding: 10px;
    }


}


#principios{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#principios .container{
    padding: 70px 10px;
}

#principios h6{
    justify-content: center;
    margin-top: 0;
    font-size: 2em;
}

#principios p{
    display: none;
}

#principios .carta-2{
    background-position: center center;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.carta-2:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("principio\ 11.jpeg");
    
}

.carta-2:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("principio\ 12.jpg");
}

.carta-2:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("principio\ 13.jpg");
}

.carta-2:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("principio\ 14.jpg");
}

.carta-2:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("principio\ 15.jpg");
}





@media (min-width: 1500px ) {
    #Mision{
        background-position-x: calc(100vw - 750px);
        background-position: 80% 100px;
    }
}







